[user]
	name = Giovani de Sousa Leite
	email = email@email.com
[push]
	default = current
[fetch]
	prune = true
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[alias]
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    uncommit = reset --soft HEAD^
    unstage = reset
    df = diff --word-diff --color-words
    editcommit = commit --amend
    updatemaster = !git checkout master && git pull origin master && git checkout -
    browse = !hub browse
    compare = !hub compare
    issues = !hub browse --issues
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
